@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Noto+Serif&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #f8f8f8;
  color: #252525;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

img {
  max-width: 100%;
}

.main-content {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.block.header .wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  width: 100%;
  padding: 0 1.5rem;
}

.block.header {
  background-color: #fff;
}
.block.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0;
}
.block.header .col.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .block.header .col.logo {
    flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .block.header .col.menu {
    display: none;
  }
}
.block.header .hamburger {
  display: none;
  width: 1.75rem;
  height: 1.75rem;
}
@media screen and (max-width: 768px) {
  .block.header .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.block.header .hamburger ion-icon {
  transform: scale(1.5);
}
.block.header .hamburger .close {
  display: none;
}
.block.header .menu__main {
  display: flex;
  gap: 1.375rem;
}
.block.header .menu__main--item a {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  transition: color 150ms ease-in-out;
}
.block.header .menu__main--item a ion-icon {
  vertical-align: middle;
  margin-left: 0.25rem;
}
.block.header .menu__main--item a:hover {
  color: #d4a373;
}
.block.header .menu__main--is-active {
  color: #d4a373;
}
.block.header.active .hamburger .open {
  display: none;
}
.block.header.active .hamburger .close {
  display: block;
}
.block.header.active .col.menu {
  display: block;
  position: absolute;
  top: 64px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding-top: 1.125rem;
}
.block.header.active .menu__main {
  flex-direction: column;
}
.block.header.active .menu__main--item {
  padding-left: 1.5rem;
}/*# sourceMappingURL=main.css.map */