@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Noto+Serif&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #f8f8f8;
  color: #252525;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: none;
}

img {
  max-width: 100%;
}

.main-content {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.block.hero__one .wrapper, .block.landing .wrapper, .block.header .wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  width: 100%;
  padding: 0 1.5rem;
}

.block.hero__one .content .btn {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.block.hero__one .content .btn span {
  display: block;
  margin-right: 0.375rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}
.block.header {
  background-color: #fff;
  padding: 0.625rem 0;
}
.block.header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block.header .col.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .block.header .col.logo {
    flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .block.header .col.menu {
    display: none;
  }
}
.block.header .hamburger {
  display: none;
  width: 1.75rem;
  height: 1.75rem;
}
@media screen and (max-width: 768px) {
  .block.header .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.block.header .hamburger ion-icon {
  transform: scale(1.5);
}
.block.header .hamburger .close {
  display: none;
}
.block.header .menu__main {
  display: flex;
  gap: 1.375rem;
}
.block.header .menu__main--item a {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  transition: color 150ms ease-in-out;
}
.block.header .menu__main--item a ion-icon {
  vertical-align: middle;
  margin-left: 0.25rem;
}
.block.header .menu__main--item a:hover {
  color: #d4a373;
}
.block.header .menu__main--is-active {
  color: #d4a373;
}
.block.header.active .hamburger .open {
  display: none;
}
.block.header.active .hamburger .close {
  display: block;
}
.block.header.active .col.menu {
  display: block;
  position: absolute;
  top: 3.75rem;
  left: 0;
  z-index: 99;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding-top: 1.125rem;
}
.block.header.active .menu__main {
  flex-direction: column;
}
.block.header.active .menu__main--item {
  padding-left: 1.5rem;
}

.block.landing {
  position: relative;
  height: 28.125rem;
  padding: 2.8125rem 0;
  background: url("https://res.cloudinary.com/dgivmm3yn/image/upload/v1659232876/cld-sample-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: initial;
}
@media screen and (max-width: 768px) {
  .block.landing {
    height: 21.875rem;
  }
}
.block.landing::before {
  content: "";
  background: #555555;
  opacity: 0.18;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
.block.landing .wrapper {
  position: relative;
}
.block.landing .title {
  text-align: center;
  text-transform: uppercase;
  font-size: 8.125rem;
  font-weight: 700;
  letter-spacing: 0.375rem;
  color: #f8f8f8;
}
@media screen and (max-width: 1200px) {
  .block.landing .title {
    font-size: 6.875rem;
  }
}
@media screen and (max-width: 1024px) {
  .block.landing .title {
    font-size: 5.625rem;
  }
}
@media screen and (max-width: 768px) {
  .block.landing .title {
    font-size: 4.375rem;
  }
}

.block.hero__one .row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.block.hero__one .col:nth-child(1) {
  padding: 2.625rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.block.hero__one .content {
  text-align: right;
  position: relative;
}
.block.hero__one .content__head {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.625rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1.75rem;
}
.block.hero__one .content__head--tag {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  position: relative;
  color: #d4a373;
}
.block.hero__one .content__head--tag strong {
  margin: 0 0.375rem;
}
.block.hero__one .content__head--title {
  font-weight: 500;
  letter-spacing: 0.1875rem;
}
.block.hero__one .content__title {
  text-transform: capitalize;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.875rem;
  margin-bottom: 1.125rem;
}
.block.hero__one .content__details {
  font-family: "Noto Serif", serif;
  text-transform: capitalize;
  font-size: 0.8125rem;
  margin-bottom: 4rem;
}
.block.hero__one .content__details--date {
  color: #999;
  font-size: 0.75rem;
}
.block.hero__one .content__details--comment-count {
  color: #555555;
  font-weight: 600;
}
.block.hero__one .content::after {
  content: "";
  position: absolute;
  top: 66px;
  right: -76px;
  height: 0.1875rem;
  width: 4rem;
  background-color: #252525;
}
.block.hero__one .image {
  max-width: 100%;
  height: 37.5rem;
}
.block.hero__one .image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=main.css.map */