.block.header {

    .wrapper {
        @extend %site-wrapper;
    }
    
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem-calc(10) 0;
    }

    .col {
        &.logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: $tablet-small) {
                flex: 1;
            }
        }

        &.menu {
            @media screen and (max-width: $tablet-small) {
                display: none;
            }
        }
    }

    .hamburger {
        display: none;
        width: 32px;
        height: 32px;
        font-size: 64px;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: $tablet-small) {
            display: flex;
        }

        .close {
            display: none;
        }
    }

    .menu__main {
        display: flex;

        &--item {
            margin-left: rem-calc(22);

            a {
                text-transform: uppercase;
                font-size: rem-calc(12);
                font-weight: 600;
                transition: color 150ms ease-in-out;

                ion-icon {
                    vertical-align: middle;
                    margin-left: rem-calc(4);
                }
                
                &::after {
                    
                }

                &:hover {
                    color: $color-gold;
                }
            }

        }

        &--has-submenu {

        }

        &--is-active {
            color: $color-gold;
        }
    }
}