.block.hero__one {
    
    .wrapper {
        @extend %site-wrapper;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .col {
        &:nth-child(1) {
            padding: rem-calc(42);
            box-sizing: border-box;
            @include flex(flex, center, flex-end);
        }
    }

    .content {
        text-align: right;
        position: relative;
        &__head {
            @include flex(flex, center, flex-end);
            gap: rem-calc(10);
            text-transform: uppercase;
            font-size: rem-calc(12);
            margin-bottom: rem-calc(28);

            &--tag {
                @include flex(inline-flex, center, flex-end);
                font-weight: 600;
                position: relative;
                color: $color-gold;
                strong {
                    margin: 0 rem-calc(6);
                }
            }

            &--title {
                font-weight: 500;
                letter-spacing: rem-calc(3);
            }
        }

        &__title {
            text-transform: capitalize;
            font-size: rem-calc(26);
            font-weight: 600;
            line-height: rem-calc(30);
            margin-bottom: rem-calc(18);
        }
        
        &__details {
            font-family: $font-noto;
            text-transform: capitalize;
            font-size: rem-calc(13);
            margin-bottom: rem-calc(64);
            &--date {
                color: $color-lightgray;
                font-size: rem-calc(12);
            }
            &--comment-count {
                color: $color-gray-tertiary;
                font-weight: 600;
            }
        }

        .btn {
            @extend %site-btn;
        }

        &::after {
            content: "";
            position: absolute;
            top: 66px;
            right: -76px;
            height: rem-calc(3);
            width: rem-calc(64);
            background-color: $color-licorice;

        }
    }

    .image {
        max-width: 100%;
        height: rem-calc(600);
        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}