.block.hero {
    
    .wrapper {
        @extend %site-wrapper;

        @media screen and (max-width: $tablet-large) {
            padding: 0;
        }
    }

    .row {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);

        @media screen and (max-width: 930px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    .col {
        background-color: $color-white;
        &:nth-child(1) {
            padding: rem-calc(42);
            box-sizing: border-box;
            @include flex(flex, center, flex-end);

            @media screen and (max-width: $tablet-small) {
                padding-left: rem-calc(22);
            }

            @media screen and (max-width: $mobile) {
                padding: rem-calc(22);
            }
        }

        &:nth-child(2) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

            @media screen and (max-width: 930px) {
                grid-template-columns: auto;
            }
        }
    }

    .content {
        text-align: right;
        position: relative;
        width: 250px;
        @include hero-content;

        .btn {
            @extend %site-btn;
        }
    }

    .image {
        max-width: 100%;
        height: rem-calc(600);

        @media screen and (max-width: 930px) {
            height: rem-calc(300);
        }

        @media screen and (max-width: $mobile) {
            height: rem-calc(200);
        }

        @media screen and (max-width: $mobile-small) {
            height: rem-calc(150);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &.style-2 {
        .row {
            grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);

            @media screen and (max-width: 930px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }

        .col {
            &:nth-child(2) {
                display: grid;
                grid-template-columns: 1fr;
            }
        }

        .image {
            max-width: 100%;
            height: rem-calc(600);

            @media screen and (max-width: 930px) {
                height: 100%;
            }

            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &.content-right {
        .col {
            &:nth-child(1)  {
                order: 2;
                justify-content: flex-start;
            }
        }

        .content {
            text-align: left;

            &__head {
                justify-content: flex-start;
            }

            &::after {
                left: rem-calc(-76);

                @media screen and (max-width: $mobile) {
                    left: rem-calc(-40);
                }

            }
        }
    }

    &.reverse {
        .row {
            grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);

            @media screen and (max-width: 930px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }

    &.content-left {
        .row {
            grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);

            @media screen and (max-width: 930px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
}