@mixin flex($flex, $align, $justify) {
    display: $flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin hero-content {

	&__head {
		@include flex(flex, center, flex-end);
		gap: rem-calc(7);
		text-transform: uppercase;
		font-size: rem-calc(12);
		margin-bottom: rem-calc(28);

        @media screen and (max-width: $mobile) {
            font-size: rem-calc(10);
        }

		&--tag {
			@include flex(inline-flex, center, flex-end);
			font-weight: 600;
			position: relative;
			color: $color-gold;
			strong {
				margin: 0 rem-calc(6);
			}
		}

		&--title {
			font-weight: 500;
			letter-spacing: rem-calc(3);
		}
	}

	&__title {
		text-transform: capitalize;
		font-size: rem-calc(26);
		font-weight: 600;
		line-height: rem-calc(30);
		margin-bottom: rem-calc(18);

        @media screen and (max-width: $mobile) {
            font-size: rem-calc(16);
            line-height: rem-calc(20);
        }
	}
	
	&__details {
		font-family: $font-noto;
		text-transform: capitalize;
		font-size: rem-calc(13);
		margin-bottom: rem-calc(64);

        @media screen and (max-width: $mobile) {
            font-size: rem-calc(11);
            display: flex;
            flex-direction: column-reverse;
        }

		&--date {
			color: $color-lightgray;
			font-size: rem-calc(12);

            @media screen and (max-width: $mobile) {
                font-size: rem-calc(10);
            }
		}
		&--comment-count {
			color: $color-gray-tertiary;
			font-weight: 600;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: rem-calc(66);
		right: rem-calc(-76);
		height: rem-calc(3);
		width: rem-calc(64);
		background-color: $color-licorice;

        @media screen and (max-width: $mobile) {
            top: rem-calc(60);
            right: rem-calc(-40);
            height: rem-calc(2);
            width: rem-calc(32);
        }

	}
}