.bg-mediumgray {
    background-color: $color-mediumgray !important;
    color: $color-lightestgray !important;
    span {
        color: $color-lightestgray !important;
    }
    ::after {
        background-color: $color-off-white !important;
    }
}