$mobile-small: 375px;
$mobile: 576px;
$tablet-small: 768px;
$tablet-large: 1024px;
$desktop-small: 1200px;
$desktop-medium: 1440px;
$desktop-large: 1800px;
$desktop-xlarge: 1920px;




// how to use
// @media screen and (min-width: $mobile) {
    
// }