// Colors
$color-black: #000;
$color-white: #fff;
$color-off-white: #f8f8f8;
$color-gray: #ccc;
$color-lightestgray: #eee;
$color-lightgray: #999;
$color-mediumgray: #666;
$color-gray-tertiary: #555555;
$color-licorice: #252525;
$color-gold: #d4a373;

// Font Family Declarations
$font-noto:'Noto Serif', serif;
$font-montserrat:'Montserrat', sans-serif;
