// Colors
$color-black: #000;
$color-white: #fff;
$color-off-white: #f8f8f8;
$color-gray: #ccc;
$color-lightestgray: #eee;
$color-lightgray: #999;
$color-mediumgray: #666;
$color-gray-tertiary: #555555;
$color-licorice: #252525;
$color-red: #ed145b;
$color-error: #e55039;

// Font Family Declarations
// $font-forza:'Forza', sans-serif;
