%site-btn {
	text-transform: uppercase;
	font-size: rem-calc(12);
	font-weight: 700;
	@include flex(inline-flex, center, center);

	span {
		display: block;
		margin-right: rem-calc(6);
		border-bottom: 1px solid $color-gray;
		padding-bottom: 2px;
	}
}
